@import './variables.scss';

input{
    font-family: $main-font;
    color: $text-black;
}

.search{
    margin: 0 auto;
    width: 95%;

    &__inputs{
        width:100%;
        display:flex;
        justify-content: space-evenly;
        margin:1rem 0;
    }

    &__city,
    &__key-word{
        width:10rem;
        height:2rem;
        border:none;
    }
    &__city{
        appearance: none;
        background: url(../graphics/images/br_down.webp) no-repeat right white;
        background-position-x: 95%;
    }

    &__submit{
        width:15rem;
        height: 3rem;
        display:block;
        margin: 0 auto;
        background-color: $orange;
        border:none;
    }
    &__sites-description{
        display:flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    }
    &__sites-selection{
        display:flex;
        justify-content: space-evenly;
    }
}
.loading{
    &__site{
        height: 2rem;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 0.5rem;
    }
}


