//colors
$background-white:#eef4f0;
$blue:#0d92d4;
$yellow:#f4bf58;
$orange:#f7785e;
$red:#fc3838;
$green:#019c01;
$text-black:#464545;



//typography
$main-font:Bahnschrift,Arial, Helvetica, sans-serif;

//media breakpoints

$tablet-width: 768px;
$desktop-width: 1024px;