//colors
$background-white:#eef4f0;
$blue:#0d92d4;
$yellow:#f4bf58;
$orange:#fa7459;
$red:#fc3838;
$green:#019c01;
$text-black:#464545;
$text-warning:#ee593b;



//typography
$main-font:Bahnschrift,Arial, Helvetica, sans-serif;

//media breakpoints

$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-width-high-res: 2500px;