*, *:hover {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.top {
  width: 100%;
}

.top__logo {
  display: block;
  margin: 0 auto;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #eef4f0;
  background-attachment: fixed;
  font-family: Bahnschrift, Arial, Helvetica, sans-serif;
}

.success {
  color: #019c01;
}

.danger {
  color: #fc3838;
}

.warning {
  color: #f7785e;
}
