input {
  font-family: Bahnschrift, Arial, Helvetica, sans-serif;
  color: #464545;
}

.search {
  margin: 2rem auto 0 auto;
  width: 95%;
}

.search__inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1rem 0;
}

.search__city, .search__key-word {
  width: 10rem;
  height: 2rem;
  border: none;
}

.search__city {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../graphics/images/br_down.webp) no-repeat right white;
  background-position-x: 95%;
}

.search__submit {
  width: 15rem;
  height: 3rem;
  display: block;
  margin: 0 auto;
  background-color: #f7785e;
  border: none;
}

.search__sites-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.search__sites-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.loading__site {
  min-height: 2rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0.1rem;
}
