.ad-list {
  width: 100%;
  padding-top: 1rem;
}

.ad-list__ad {
  margin-top: 1rem;
  background-color: white;
  border-bottom: 2px solid #f4bf58;
}

.no-results {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.paginate {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.paginate button {
  margin: 0 0.1rem;
}
