<% if (page === 'index') { %>
    <script type="text/javascript" src="/public/js/socketJS.js"></script>
    <script src="/public/graphics/animations/loading-svg.js"></script>
<% } %>
<script type="text/javascript" src="/public/js/<%=page%>JS.js"></script>
</body>
</html>