<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>

    <link rel="stylesheet" href="/public/css/common.css">
    <% if (page !== undefined) { %>
    <link rel="stylesheet" href="/public/css/<%=page%>.css">
        <% } %>
    <% if (page === 'index') { %>
    <link rel="stylesheet" href="/public/css/animation.css">
    <% } %>  

    <title>Darbo baze</title>
</head>
<body>
    <div class="top">
        <a href="/"><img src="/public/graphics/logos/dblogo.png" alt="logo" class="top__logo"></a>
    </div>



