@import '../variables.scss';

@media (max-width: #{$tablet-width}){
    .loading{
        &__site{
            font-size: 1rem;
        }
    }
    #loading-icon{
        width:1.5rem;
        height:1.5rem;
    }
}

@media (min-width: #{$tablet-width}){
    .search{
        width: 80%;
        margin-top: 3rem;
        &__inputs{
            width: 70%;
            margin:0 auto 2.5rem auto;
        }
        &__warning{
            min-height: 1.5rem;
            margin-bottom: 1.5rem;
        }
        &__city,
        &__key-word{
            width:11rem;
            height:2.2rem;
            border:none;
        }
    }
}
@media (min-width: #{$desktop-width}){
    input{
        font-size: 1.1rem;
    }
    .search{
        width: 70%;
        margin-top: 3rem;
        &__inputs{
            width: 70%;
            margin:0 auto 3rem auto;
        }
        &__warning{
            min-height: 2rem;
            margin-bottom: 2rem;
        }
        &__city,
        &__key-word{
            width:13rem;
            height:2.3rem;
            border:none;
        }
    }
}
@media (min-width: #{$desktop-width-high-res}){
    body{
        font-size: 2.5rem;
    }
    #loading-icon{
        width:3rem;
        height:3rem;
    }
    .loading{
        &__site{
            font-size: 2rem;
        }
    }
    .search{
        &__city,
        &__key-word,
        &__submit{
            width:20rem;
            height:3.5rem;
            font-size: 2.3rem;
        }
        &__warning{
            font-size: 2.2rem;
        }
    }
    .success{
        color: red;
    }
}
