@import '../variables.scss';

@media (min-width: #{$tablet-width}){
    .ad-list{
        width: 90%;
        margin:0 auto;
            &__ad{
                flex-direction: row;
                padding:1rem 0.5rem;
                min-height: 4rem;
                overflow: hidden;
            }
            &__job-info{
                width: 50%;
                border-left: 1px dashed $blue;
                border-right: 1px dashed $blue;
                order:2;
                display: flex;
                flex-direction: column;
                justify-content: center;

            }
            &__employer-info{
                width: 20%;
                order: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &__ad-info{
                width: 30%;
                order: 3;
                display: flex;
                flex-direction: column;
               justify-content: center;
            }
        }
}